<!DOCTYPE html>
<html>
<head>
  <title>Automatic Essay Grading</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="container">
    <h1>Automatic Essay Grading</h1>
    <form class="essay-form" method = "POST">
      <!-- <label for="essay">Type Your Essay:</label> -->
      <textarea id="essay" name = "essay" placeholder="Enter your essay here..."></textarea>
      <div class="buttons">
        <div>
          <label>
              Upload Essay : <input type="file" id="file-upload" name="file-upload" class="upload-btn" accept=".txt,.doc,.docx,.pdf">
          </label>
        </div>
        <div class="btn-container">
          <button class="btn" type = "submit">Grade</button>
          <button class="btn btn-clear">Clear</button>
        </div> 
      </div>
    </form>
    <div class="result">
      <h2>Grading Result:</h2>
      <p id="grading-result">Grade result will appear here</p>
    </div>
  </div>
</body>
</html>
